<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Jokester</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <div class="thejokes">
            <h1>Here is your joke for the day. Hope you get a blast out of it.</h1>
            <p><%= joke %></p>
            <a href="/refresh">Get Another Joke</a>
        </div>
    </main>
</body>
</html>